{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <form action="{{ fsc.url() }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        <i class="fa-solid fa-book fa-fw"></i>
                        {{ fsc.title }}
                    </h1>
                    <p>{{ trans('model-130-p') }}</p>
                </div>
            </div>

            <div class="row g-2 align-items-end">
                <div class="col-sm-6 col-md-3">
                    <div class="mb-3">
                        {{ trans('exercise') }}
                        <select name="codejercicio" class="form-select" required>
                            {% for company in fsc.empresa.all() %}
                                <optgroup label="{{ company.nombre }}">
                                    {% for exercise in fsc.getAllExercises(company.idempresa) %}
                                        {% if exercise.codejercicio == fsc.codejercicio %}
                                            <option value="{{ exercise.codejercicio }}" selected>
                                                {{ exercise.nombre }}
                                            </option>
                                        {% else %}
                                            <option value="{{ exercise.codejercicio }}">{{ exercise.nombre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="mb-3">
                        {{ trans('period') }}
                        <select name="period" class="form-select" required>
                            {% for period, label in fsc.getPeriodsForComboBoxHtml() %}
                                {% if period == fsc.period %}
                                    <option value="{{ period }}" selected>{{ trans(label) }}</option>
                                {% else %}
                                    <option value="{{ period }}">{{ trans(label) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <button type="submit" name="action" value="show" class="btn btn-primary">
                            <i class="fa-solid fa-eye me-1"></i>
                            {{ trans('preview') }}
                        </button>
                        {% if fsc.result is not empty %}
                            <button type="submit" name="action" value="download" class="btn btn-outline-secondary">
                                <i class="fa-solid fa-download me-1"></i>
                                {{ trans('download-aeat-file') }}
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <h2 class="h3 mt-3">
                        <i class="fa-regular fa-clipboard fa-fw"></i>
                        {{ trans('summary') }}
                    </h2>
                    <div class="alert alert-dismissible alert-info">
                        <p class="mb-0">{{ trans('model-130-r') }}</p>
                        <p class="mb-0">{{ trans('model-130-desc') }}</p>
                    </div>
                </div>
            </div>

            <h3 class="h5 mt-2">{{ trans('net-total') }}</h3>
            <div class="row g-2">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('tax-incomes') }}
                        <div class="input-group">
                            <span class="input-group-text">01</span>
                            <input type="number" value="{{ fsc.result.taxbaseIngresos }}" class="form-control text-end" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('tax-expenses') }}
                        <div class="input-group">
                            <span class="input-group-text">02</span>
                            <input type="number" value="{{ fsc.result.taxbaseGastos }}" class="form-control text-end" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('net-total') }}
                        <div class="input-group">
                            <span class="input-group-text">03</span>
                            <input type="number" value="{{ fsc.result.taxbase }}" class="form-control text-end" readonly/>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <h3 class="h5">{{ trans('pct-to-deduct') }}</h3>
            <div class="row g-2">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('gastos-justificacion-pct') }}
                        <div class="input-group">
                            <input type="number" name="gastosJustificacionPct" min="0" max="100" step="0.01" value="{{ fsc.gastosJustificacionPct }}" class="form-control text-end" onchange="if (this.value < 0) this.value = 0; if (this.value > 100) this.value = 100; this.form.submit();"/>
                            <span class="input-group-text">%</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        <div class="form-check mb-1">
                            <input type="checkbox" class="form-check-input" id="applyGastosJustificacion" name="applyGastosJustificacion" value="1" onchange="this.form.submit();" {{ fsc.applyGastosJustificacion ? 'checked' : '' }}>
                            <label class="form-check-label" for="applyGastosJustificacion">
                                {{ trans('gastos-justificacion') }}
                            </label>
                        </div>
                        <div class="input-group">
                            <input type="number" value="{{ fsc.result.gastosJustificacion }}" class="form-control text-end" readonly/>
                        </div>
                        {% if fsc.result.gastosJustificacion >= 2000 %}
                            <p class="form-text text-warning fw-bold">
                                <i class="fa-solid fa-triangle-exclamation me-1"></i>
                                {{ trans('gastos-justificacion-limit') }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('pct-to-deduct') }}
                        <div class="input-group">
                            <input type="number" name="todeduct" min="0" max="100" value="{{ fsc.todeduct }}" class="form-control text-end" onchange="if (this.value < 0) this.value = 0; if (this.value > 100) this.value = 100; this.form.submit();" required/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ fsc.result.todeduct }}% {{ trans('after-deduct') }}
                        <div class="input-group">
                            <span class="input-group-text">04</span>
                            <input type="number" value="{{ fsc.result.afterdeduct }}" class="form-control text-end" readonly/>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>

            <h3 class="h5">{{ trans('result') }}</h3>
            <div class="row g-2">
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('previous-model') }}
                        <div class="input-group">
                            <span class="input-group-text">05</span>
                            <input type="number" value="{{ fsc.result.positivosTrimestres }}" class="form-control text-end" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('retentions') }}
                        <div class="input-group">
                            <span class="input-group-text">06</span>
                            <input type="number" value="{{ fsc.result.taxbaseRetenciones }}" class="form-control text-end" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="mb-3">
                        {{ trans('result') }}
                        <div class="input-group">
                            <span class="input-group-text">07</span>
                            <input type="number" value="{{ fsc.result.result }}" class="form-control text-end" readonly/>
                        </div>
                        <p class="form-text text-muted">{{ trans('tax-negative-info') }}</p>
                    </div>
                </div>
                {% if fsc.result.result > 0 %}
                    <div class="col d-flex justify-content-end align-items-center">
                        <button type="button" class="btn btn-success mt-2 float-start float-sm-right" data-bs-toggle="modal" data-bs-target="#createAccountingModal">
                            <i class="fa-solid fa-scale-balanced"></i>
                            {{ trans('create-accounting-entry') }}
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="sales-tab" data-bs-toggle="tab" href="#sales" role="tab" aria-controls="sales" aria-selected="true" title="{{ trans('sales') }}">
                <i class="fa-solid fa-file-invoice-dollar me-1" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">{{ trans('sales') }}</span>
                {% if fsc.result.sales %}
                    <span class="badge bg-secondary">{{ fsc.result.sales|length }}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="purchases-tab" data-bs-toggle="tab" href="#purchases" role="tab" aria-controls="purchases" aria-selected="false" title="{{ trans('purchases') }}">
                <i class="fa-solid fa-file-invoice-dollar me-1" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">{{ trans('purchases') }}</span>
                {% if fsc.result.purchases %}
                    <span class="badge bg-secondary">{{ fsc.result.purchases|length }}</span>
                {% endif %}
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="accounting-tab" data-bs-toggle="tab" href="#accounting" role="tab" aria-controls="accounting" aria-selected="false" title="{{ trans('accounting-entries') }}">
                <i class="fa-solid fa-balance-scale me-1" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">{{ trans('accounting-entries') }}</span>
                {% if fsc.result.accountingEntries %}
                    <span class="badge bg-secondary">{{ fsc.result.accountingEntries|length }}</span>
                {% endif %}
            </a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="sales-tab">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ trans('serie') }}</th>
                            <th>{{ trans('invoice') }}</th>
                            <th>{{ trans('accounting-entry') }}</th>
                            <th>{{ trans('date') }}</th>
                            <th>{{ trans('concept') }}</th>
                            <th class="text-end">{{ trans('tax-base') }}</th>
                            <th class="text-end">{{ trans('irpf') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set salesTotalBase = 0 %}
                        {% set salesTotalIrpf = 0 %}
                        {% for item in fsc.result.sales %}
                            {% set salesTotalBase = salesTotalBase + item.baseimponible %}
                            {% set salesTotalIrpf = salesTotalIrpf + item.irpf %}
                            <tr>
                                <td>{{ item.serie }}</td>
                                <td>
                                    {% if item.invoice is defined and item.invoice %}
                                        <a href="{{ item.invoice.url() }}">{{ item.factura }}</a>
                                    {% else %}
                                        {{ item.factura }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.entry %}
                                        <a href="{{ item.entry.url() }}">{{ item.entry.numero }}</a>
                                    {% endif %}
                                </td>
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.concepto | raw }}</td>
                                <td class="text-end">{{ money(item.baseimponible) }}</td>
                                <td class="text-end">{{ money(item.irpf) }}</td>
                            </tr>
                        {% else %}
                            <tr class="table-warning">
                                <td colspan="7">{{ trans('no-data') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" class="text-end">{{ trans('totals') }}</th>
                            <th class="text-end">{{ money(salesTotalBase) }}</th>
                            <th class="text-end">{{ money(salesTotalIrpf) }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ trans('serie') }}</th>
                            <th>{{ trans('invoice') }}</th>
                            <th>{{ trans('accounting-entry') }}</th>
                            <th>{{ trans('date') }}</th>
                            <th>{{ trans('concept') }}</th>
                            <th class="text-end">{{ trans('tax-base') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set purchasesTotalBase = 0 %}
                        {% for item in fsc.result.purchases %}
                            {% set purchasesTotalBase = purchasesTotalBase + item.baseimponible %}
                            <tr>
                                <td>{{ item.serie }}</td>
                                <td>
                                    {% if item.invoice is defined and item.invoice %}
                                        <a href="{{ item.invoice.url() }}">{{ item.factura }}</a>
                                    {% else %}
                                        {{ item.factura }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if item.entry %}
                                        <a href="{{ item.entry.url() }}">{{ item.entry.numero }}</a>
                                    {% endif %}
                                </td>
                                <td>{{ item.fecha }}</td>
                                <td>{{ item.concepto | raw }}</td>
                                <td class="text-end">{{ money(item.baseimponible) }}</td>
                            </tr>
                        {% else %}
                            <tr class="table-warning">
                                <td colspan="6">{{ trans('no-data') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="5" class="text-end">{{ trans('totals') }}</th>
                            <th class="text-end">{{ money(purchasesTotalBase) }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

        <div class="tab-pane fade" id="accounting" role="tabpanel" aria-labelledby="accounting-tab">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{ trans('accounting-entry') }}</th>
                            <th>{{ trans('subaccount') }}</th>
                            <th>{{ trans('date') }}</th>
                            <th>{{ trans('concept') }}</th>
                            <th>{{ trans('type') }}</th>
                            <th class="text-end">{{ trans('total') }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% set accountingTotal = 0 %}
                        {% for item in fsc.result.accountingEntries %}
                            {% set accountingTotal = accountingTotal + item.amount %}
                            <tr>
                                <td>
                                    <a href="{{ item.entry.url() }}">{{ item.entry.numero }}</a>
                                </td>
                                <td>{{ item.partida.codsubcuenta }}</td>
                                <td>{{ item.entry.fecha }}</td>
                                <td>{{ item.partida.concepto | raw }}</td>
                                <td>{{ trans(item.type) }}</td>
                                <td class="text-end">{{ money(item.amount) }}</td>
                            </tr>
                        {% else %}
                            <tr class="table-warning">
                                <td colspan="6">{{ trans('no-data') }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
{# 
                    <tfoot>
                        <tr>
                            <th colspan="5" class="text-end">{{ trans('totals') }}</th>
                            <th class="text-end">{{ money(accountingTotal) }}</th>
                            <th></th>
                        </tr>
                    </tfoot> 
#}
                </table>
            </div>
        </div>
    </div>

    <!-- Create Accounting Modal -->
    <div class="modal fade" id="createAccountingModal" tabindex="-1" role="dialog" aria-labelledby="createAccountingModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createAccountingModalLabel">{{ trans('create-accounting-entry') }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form name="create-accounting" method="post" onsubmit="animateSpinner('add')">
                    {{ formToken() }}
                    {% set exercise = fsc.getExercise(fsc.codejercicio) %}
                    <input type="hidden" name="action" value="gen-accounting">
                    <input type="hidden" name="idempresa" value="{{ exercise.idempresa }}">
                    <input type="hidden" name="codejercicio" value="{{ fsc.codejercicio }}">
                    <input type="hidden" name="period" value="{{ fsc.period }}">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="date">{{ trans('accounting-entry-date') }}</label>
                            {% set year = exercise.fechainicio|date("Y") %}
                            {% set date = "now"|date("Y-m-d") %}
                            {% if fsc.period == 'T1' %}
                                {% set date = year ~ '-03-31' %}
                            {% elseif fsc.period == 'T2' %}
                                {% set date = year ~ '-06-30' %}
                            {% elseif fsc.period == 'T3' %}
                                {% set date = year ~ '-09-30' %}
                            {% elseif fsc.period == 'T4' %}
                                {% set date = year ~ '-12-31' %}
                            {% endif %}
                            <input type="date" class="form-control" id="date" name="date" value="{{ date }}" required readonly>
                        </div>
                        <div class="mb-3">
                            <label for="amount">{{ trans('amount') }}</label>
                            <input type="number" step="any" class="form-control" id="amount" name="amount" value="{{ fsc.result.result }}" required>
                        </div>
                        <div class="mb-3">
                            <label for="paymentMethod">{{ trans('payment-method') }}</label>
                            <select class="form-select" id="paymentMethod" name="paymentMethod" required>
                                {% for method in fsc.getPaymentMethods() %}
                                    {% if method.idempresa == exercise.idempresa %}
                                        <option value="{{ method.codpago }}">{{ method.descripcion }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            <i class="fa-solid fa-xmark"></i>
                            {{ trans('cancel') }}
                        </button>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-check"></i>
                            {{ trans('create') }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
