{% extends "Master/MenuTemplate.html.twig" %}

{% block body %}
    <form action="{{ fsc.url() }}" method="post">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="h2">
                        <i class="fas fa-book fa-fw"></i> {{ trans(fsc.title) }}
                    </h1>
                    <p>{{ trans('model-130-p') }}</p>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ trans('exercise') }}
                        <select name="codejercicio" class="form-control" required>
                            {% for company in fsc.empresa.all() %}
                                <optgroup label="{{ company.nombre }}">
                                    {% for exercise in fsc.getAllExercises(company.idempresa) %}
                                        {% if exercise.codejercicio == fsc.codejercicio %}
                                            <option value="{{ exercise.codejercicio }}" selected>{{ exercise.nombre }}</option>
                                        {% else %}
                                            <option value="{{ exercise.codejercicio }}">{{ exercise.nombre }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        {{ trans('period') }}
                        <select name="period" class="form-control" required>
                            {% for period, label in fsc.getPeriodsForComboBoxHtml() %}
                                {% if period == fsc.period %}
                                    <option value="{{ period }}" selected="">{{ trans(label) }}</option>
                                {% else %}
                                    <option value="{{ period }}">{{ trans(label) }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <button type="submit" name="action" value="show" class="btn btn-primary">
                            <i class="fas fa-eye fa-fw"></i> {{ trans('preview') }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h2 class="h3 mt-3">
                        <i class="far fa-clipboard fa-fw"></i> {{ trans('summary') }}
                    </h2>
                    <p>
                        {{ trans('model-130-r') }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ trans('tax-incomes') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">01</span>
                            </div>
                            <input type="number" value="{{ fsc.taxbaseIngresos }}" class="form-control text-right"
                                   readonly/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ trans('tax-expenses') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">02</span>
                            </div>
                            <input type="number" value="{{ fsc.taxbaseGastos }}" class="form-control text-right"
                                   readonly/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ trans('net-total') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">03</span>
                            </div>
                            <input type="number" value="{{ fsc.taxbase }}" class="form-control text-right" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ trans('pct-to-deduct') }}
                        <div class="input-group">
                            <input type="number" name="todeduct" value="{{ fsc.todeduct }}"
                                   class="form-control text-right" required onchange="this.form.submit();"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        {{ fsc.todeduct }}% {{ trans('after-deduct') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">04</span>
                            </div>
                            <input type="number" value="{{ fsc.afterdeduct }}" class="form-control text-right"
                                   readonly/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ trans('previous-model') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">05</span>
                            </div>
                            <input type="number" value="{{ fsc.positivosTrimestres }}" class="form-control text-right"
                                   readonly/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ trans('retentions') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">06</span>
                            </div>
                            <input type="number" value="{{ fsc.taxbaseRetenciones }}" class="form-control text-right"
                                   readonly/>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        {{ trans('result') }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">07</span>
                            </div>
                            <input type="number" value="{{ fsc.result }}" class="form-control text-right"
                                   readonly/>
                        </div>
                        {{ trans('tax-negative-info') }}
                    </div>
                </div>
            </div>
        </div>
    </form>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="sales-tab" data-toggle="tab" href="#sales" role="tab"
               aria-controls="sales" aria-selected="true" title="{{ trans('sales') }}">
                <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">{{ trans('sales') }}</span>
                <span class="badge badge-secondary">{{ fsc.customerInvoices|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="purchases-tab" data-toggle="tab" href="#purchases" role="tab"
               aria-controls="purchases" aria-selected="false" title="{{ trans('purchases') }}">
                <i class="fas fa-file-invoice-dollar" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">{{ trans('purchases') }}</span>
                <span class="badge badge-secondary">{{ fsc.supplierInvoices|length }}</span>
            </a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="accounting-tab" data-toggle="tab" href="#accounting" role="tab"
               aria-controls="accounting" aria-selected="false" title="{{ trans('accounting-entries') }}">
                <i class="fas fa-balance-scale" aria-hidden="true"></i>
                <span class="d-none d-sm-inline-block">{{ trans('accounting-entries') }}</span>
                <span class="badge badge-secondary">{{ fsc.accountingEntries|length }}</span>
            </a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="sales" role="tabpanel" aria-labelledby="sales-tab">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ trans('invoice') }}</th>
                        <th>{{ trans('customer') }}</th>
                        <th class="text-right">{{ trans('net') }}</th>
                        <th class="text-right">{{ trans('taxes') }}</th>
                        <th class="text-right">{{ trans('surcharge') }}</th>
                        <th class="text-right">{{ trans('retention') }}</th>
                        <th class="text-right">{{ trans('total') }}</th>
                        <th class="text-right">{{ trans('date') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set salesTotalNeto = 0 %}
                    {% set salesTotalTax = 0 %}
                    {% set salesTotalSurcharge = 0 %}
                    {% set salesTotalRetention = 0 %}
                    {% set salesTotal = 0 %}
                    {% for item in fsc.customerInvoices %}
                        {% set salesTotalNeto = salesTotalNeto + item.neto %}
                        {% set salesTotalTax = salesTotalTax + item.totaliva %}
                        {% set salesTotalSurcharge = salesTotalSurcharge + item.totalrecargo %}
                        {% set salesTotalRetention = salesTotalRetention + item.totalirpf %}
                        {% set salesTotal = salesTotal + item.total %}
                        <tr>
                            <td>
                                <a href="{{ item.url() }}">{{ item.codigo }}</a>
                            </td>
                            <td>{{ item.nombrecliente | raw }}</td>
                            <td class="text-right">{{ money(item.neto) }}</td>
                            <td class="text-right">{{ money(item.totaliva) }}</td>
                            <td class="text-right">{{ money(item.totalrecargo) }}</td>
                            <td class="text-right">{{ money(item.totalirpf) }}</td>
                            <td class="text-right">{{ money(item.total) }}</td>
                            <td class="text-right">{{ item.fecha }}</td>
                        </tr>
                    {% else %}
                        <tr class="table-warning">
                            <td colspan="8">{{ trans('no-data') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-right text-capitalize">{{ trans('totals') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('net') }}</td>
                        <td class="text-right">{{ money(salesTotalNeto) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('taxes') }}</td>
                        <td class="text-right">{{ money(salesTotalTax) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('surcharge') }}</td>
                        <td class="text-right">{{ money(salesTotalSurcharge) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('retention') }}</td>
                        <td class="text-right">{{ money(salesTotalRetention) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('total-amount') }}</td>
                        <td class="text-right">{{ money(salesTotal) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="purchases" role="tabpanel" aria-labelledby="purchases-tab">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ trans('invoice') }}</th>
                        <th>{{ trans('supplier') }}</th>
                        <th class="text-right">{{ trans('net') }}</th>
                        <th class="text-right">{{ trans('taxes') }}</th>
                        <th class="text-right">{{ trans('surcharge') }}</th>
                        <th class="text-right">{{ trans('retention') }}</th>
                        <th class="text-right">{{ trans('total') }}</th>
                        <th class="text-right">{{ trans('date') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set purchasesTotalNeto = 0 %}
                    {% set purchasesTotalTax = 0 %}
                    {% set purchasesTotalSurcharge = 0 %}
                    {% set purchasesTotalRetention = 0 %}
                    {% set purchasesTotal = 0 %}
                    {% for item in fsc.supplierInvoices %}
                        {% set purchasesTotalNeto = purchasesTotalNeto + item.neto %}
                        {% set purchasesTotalTax = purchasesTotalTax + item.totaliva %}
                        {% set purchasesTotalSurcharge = purchasesTotalSurcharge + item.totalrecargo %}
                        {% set purchasesTotalRetention = purchasesTotalRetention + item.totalirpf %}
                        {% set purchasesTotal = purchasesTotal + item.total %}
                        <tr>
                            <td>
                                <a href="{{ item.url() }}">{{ item.codigo }}</a>
                            </td>
                            <td>{{ item.nombre | raw }}</td>
                            <td class="text-right">{{ money(item.neto) }}</td>
                            <td class="text-right">{{ money(item.totaliva) }}</td>
                            <td class="text-right">{{ money(item.totalrecargo) }}</td>
                            <td class="text-right">{{ money(item.totalirpf) }}</td>
                            <td class="text-right">{{ money(item.total) }}</td>
                            <td class="text-right">{{ item.fecha }}</td>
                        </tr>
                    {% else %}
                        <tr class="table-warning">
                            <td colspan="8">{{ trans('no-data') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-right text-capitalize">{{ trans('totals') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('net') }}</td>
                        <td class="text-right">{{ money(purchasesTotalNeto) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('taxes') }}</td>
                        <td class="text-right">{{ money(purchasesTotalTax) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('surcharge') }}</td>
                        <td class="text-right">{{ money(purchasesTotalSurcharge) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('retention') }}</td>
                        <td class="text-right">{{ money(purchasesTotalRetention) }}</td>
                    </tr>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('total-amount') }}</td>
                        <td class="text-right">{{ money(purchasesTotal) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="accounting" role="tabpanel" aria-labelledby="accounting-tab">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{ trans('accounting-entry') }}</th>
                        <th>{{ trans('subaccount') }}</th>
                        <th>{{ trans('concept') }}</th>
                        <th class="text-right">{{ trans('total') }}</th>
                        <th class="text-right">{{ trans('date') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% set accountingTotalNeto = 0 %}
                    {% for item in fsc.accountingEntries %}
                        {% set accountingTotalNeto = accountingTotalNeto + item.debe %}
                        <tr>
                            <td>
                                <a href="{{ item.url() }}">{{ item.numero }}</a>
                            </td>
                            <td>{{ item.codsubcuenta }}</td>
                            <td>{{ item.concepto | raw }}</td>
                            <td class="text-right">{{ money(item.debe) }}</td>
                            <td class="text-right">{{ item.fecha }}</td>
                        </tr>
                    {% else %}
                        <tr class="table-warning">
                            <td colspan="8">{{ trans('no-data') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <table class="table table-sm table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="text-right text-capitalize">{{ trans('totals') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-right font-weight-bold">{{ trans('total-amount') }}</td>
                        <td class="text-right">{{ money(accountingTotalNeto) }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
